<div id="<%= dom_id acadamic_year %>">
  <p>
    <strong>Year:</strong>
    <%= acadamic_year.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= acadamic_year.description %>
  </p>

</div>
