<h1>Editing acadamic year</h1>

<%= render "form", acadamic_year: @acadamic_year %>

<br>

<div>
  <%= link_to "Show this acadamic year", @acadamic_year %> |
  <%= link_to "Back to acadamic years", acadamic_years_path %>
</div>
