<h1>Editing acadamic program</h1>

<%= render "form", acadamic_program: @acadamic_program %>

<br>

<div>
  <%= link_to "Show this acadamic program", @acadamic_program %> |
  <%= link_to "Back to acadamic programs", acadamic_programs_path %>
</div>
