<h1>Editing program level</h1>

<%= render "form", program_level: @program_level %>

<br>

<div>
  <%= link_to "Show this program level", @program_level %> |
  <%= link_to "Back to program levels", program_levels_path %>
</div>
