<h1>Editing acadamic announcement</h1>

<%= render "form", acadamic_announcement: @acadamic_announcement %>

<br>

<div>
  <%= link_to "Show this acadamic announcement", @acadamic_announcement %> |
  <%= link_to "Back to acadamic announcements", acadamic_announcements_path %>
</div>
