<h1>New acadamic announcement</h1>

<%= render "form", acadamic_announcement: @acadamic_announcement %>

<br>

<div>
  <%= link_to "Back to acadamic announcements", acadamic_announcements_path %>
</div>
